header {
    display: flex;
}

div.header-title {
    text-align: center;
    flex: 1;
}

div.header-add {
    text-align: right;
    align-content: center;
    /* background-color: blue; */
    margin-right: 25px;
}