body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

div.header-content {
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #343a40;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header-controls {
    display: flex;
    align-items: center;
}

.header-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 15px;
}

.header-add {
    font-size: x-large;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-add:hover {
    color: lightgray;
}

.homepage-container {
    background-color: white;
}

.list-placeholder {
    justify-content: center;
    color: #999;
    font-style: italic;
    padding: 20px;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.modal-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.modal-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button.cancel {
    background-color: #ccc;
    color: #333;
}

.modal-button.primary {
    background-color: #007bff;
    color: white;
}

.modal-button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #343a40;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}