.tags-dropdown-button {
    color: #007bff;
    background-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #007bff;
  }

.tags-dropdown-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 10px;
}

.tag-dropdown-button {
  display: block;
  width: 100%; 
  padding: 10px 0;
  color: black;
  border: none;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.tag-dropdown-button:hover {
  background-color: lightgray;
}