:root {
  --revisor-color-surface: #0b1326;
  --revisor-color-surface-dim: #0b1326;
  --revisor-color-surface-bright: #31394d;
  --revisor-color-surface-container-lowest: #060e20;
  --revisor-color-surface-container-low: #131b2e;
  --revisor-color-surface-container: #171f33;
  --revisor-color-surface-container-high: #222a3d;
  --revisor-color-surface-container-highest: #2d3449;
  --revisor-color-on-surface: #dae2fd;
  --revisor-color-on-surface-variant: #c2c6d6;
  --revisor-color-inverse-surface: #dae2fd;
  --revisor-color-inverse-on-surface: #283044;
  --revisor-color-outline: #8c909f;
  --revisor-color-outline-variant: #424754;
  --revisor-color-surface-tint: #adc6ff;
  --revisor-color-primary: #adc6ff;
  --revisor-color-on-primary: #002e6a;
  --revisor-color-primary-container: #4d8eff;
  --revisor-color-on-primary-container: #00285d;
  --revisor-color-inverse-primary: #005ac2;
  --revisor-color-secondary: #c0c1ff;
  --revisor-color-on-secondary: #1000a9;
  --revisor-color-secondary-container: #3131c0;
  --revisor-color-on-secondary-container: #b0b2ff;
  --revisor-color-tertiary: #89ceff;
  --revisor-color-on-tertiary: #00344d;
  --revisor-color-tertiary-container: #009ada;
  --revisor-color-on-tertiary-container: #002d43;
  --revisor-color-error: #ffb4ab;
  --revisor-color-on-error: #690005;
  --revisor-color-error-container: #93000a;
  --revisor-color-on-error-container: #ffdad6;
  --revisor-color-primary-fixed: #d8e2ff;
  --revisor-color-primary-fixed-dim: #adc6ff;
  --revisor-color-on-primary-fixed: #001a42;
  --revisor-color-on-primary-fixed-variant: #004395;
  --revisor-color-secondary-fixed: #e1e0ff;
  --revisor-color-secondary-fixed-dim: #c0c1ff;
  --revisor-color-on-secondary-fixed: #07006c;
  --revisor-color-on-secondary-fixed-variant: #2f2ebe;
  --revisor-color-tertiary-fixed: #c9e6ff;
  --revisor-color-tertiary-fixed-dim: #89ceff;
  --revisor-color-on-tertiary-fixed: #001e2f;
  --revisor-color-on-tertiary-fixed-variant: #004c6e;
  --revisor-color-background: #0b1326;
  --revisor-color-on-background: #dae2fd;
  --revisor-color-surface-variant: #2d3449;
}
