@import "tailwindcss";

@utility bg-app-gradient {
  background-image: radial-gradient(circle at center,
      var(--color-surface-container-low) 0%,
      var(--color-surface-container-lowest) 100%);
}

@utility animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}