.login-page {
    position: relative;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
}

.login-content {
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    /* border: 1px solid white; */
}

.login-title {
    font-size: 4rem;
    font-family: "Bold";
    margin-bottom: 5px;
}

.login-description {
    font-family: "Medium";
    font-size: 1.5rem;
    text-align: left;
}

.login-background {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.login-background .left-semi-circle:first-child {
    --width: calc(100vh);
    position: fixed;
    top: 0;
    left: calc(-1 * (var(--width))/2);
    right: 0;
    bottom: 0;
    margin: auto 0;
    width: var(--width);
    height: calc(var(--width) / 2);
    background-color: var(--brand-color);
    border-radius: calc(var(--width) / 2) calc(var(--width) / 2) 0 0;
    transform: rotate(90deg);
}

.login-background .traingle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #000;
}

.login-button-container {
    margin-top: 4rem;
}

.login-button {
    font-family: "SemiBold";
    font-size: 1.25rem;
    background-color: rgb(var(--primary-button-background-color));
    width: 100%;
    padding: 1rem 0;
    border-radius: 1rem;
    border-color: transparent;
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.login-button:hover {
    background-color: rgb(var(--primary-button-background-color), 0.9);
    cursor: pointer;
}